.amazon_tag {
  padding: 10px;
  border: 1px solid #E3E3E3;
  overflow: hidden;
  background-color: rgba(246, 246, 246, 0.5);
  margin-bottom: 1em;
}
.amazon_tag img {
  width: 120px;
  vertical-align: middle;
  border: 0px none;
  padding: 1px;
  float: left;
}
.amazon_tag p {
  line-height: 1.2;
}
.amazon_tag .item_detail {
  padding: 1em;
  float: left;
  margin-left: 5px;
}
.amazon_tag:after {
  clear: both;
}

blockquote, code, kbd, pre, samp {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
