body {
	margin: 0px;
	background-color: #000000;	
	text-align: center;   
	scrollbar-base-color:#ffffff;
	width: 100%;
	color: #ffffff;
}

a {
	text-decoration: underline;
	}

a:link {
	color: #00ff80;
	}

a:visited {
	color: #ff0000;
	}

a:active {
	color: #80ffff;
	}

a:hover {
	color: #00ff80;
	}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	}

img {
	border: 0px;
	}

#container {
	line-height: 120%;
	background-color: #000000;
	text-align: left;
	margin: 0px;
	padding: 0px;
	width: 100%;
	}
#banner {
	font-family: Verdana, Arial, sans-serif;
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	padding: 15px;
	height: 59px;
	border-top:4px double #666;
	border-bottom: 1px solid #FFF;
	width: 100%;
	}
#banner:after {
	clear: both;
	}

#banner a {
	color: #ffffff;
	text-decoration: none;
	}
#banner-img {
	display: none;
	}
#banner h1 {
	font-size: xx-large;
	}
#banner h2 {
	font-size: small;
	padding: 5px 0px 0px 5px;
	}

#main {
	margin: 0px;
	padding: 0px;
	}

#left {
	position: absolute;
	left: 0px;
	top: 80px;
	width: 210px;
	}

#right {
	position: absolute;
	right: 0px;
	top: 80px;
	width: 210px;
	/*overflow: hidden;*/
	}

#center {
	margin: 0px 220px;
	background-color: #000000;
	padding-bottom: 20px;
	/*overflow: hidden;*/
	}

.content {
	padding: 15px 8px 5px 8px;
	color: #ffffff;
	font-family: "ＭＳ Ｐゴシック", "Osaka",sans-serif;
	font-size: small;
	}

.content p {
	color: #ffffff;
	font-family: "ＭＳ Ｐゴシック", "Osaka",sans-serif;
	font-weight: normal;
	font-size: small;
	line-height: 120%;
	text-align: left;
	margin-bottom: 2px;
	padding: 0px 8px 0px 8px;
	}
.content blockquote {
	line-height: 120%;
	}

.content li {
	line-height: 120%;
	}

.content h2:date {
	font-size: x-large;
	color: #FFFF00;
	border-bottom:1px solid #999;
	margin-bottom:10px;
	font-weight:bold;
	}

.content h3 {
	color: #ffffff;
	font-family: Verdana, Arial, sans-serif;
	font-size: medium;	
	text-align: left;
	font-weight: bold;		
	padding-left: 6px;	
	}

.content p.posted {
	color: #ffffff;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	border-top: 1px solid #cccccc;
	text-align: right;		
	margin-bottom: 25px;
	line-height: normal;
	padding: 3px;
	}
.sidebar {
	padding: 15px 8px 20px 8px;
	}
#calendar {
  	line-height: 120%;
	color: #ffffff;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;	
  	padding: 2px;
	text-align: center;
	margin-bottom: 30px;
	}
#calendar table {
	padding: 2px;
	border-collapse: collapse;
	border: 0px;
	width: 100%;
	}
#calendar caption {
	color: #ffffff;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;	
	text-align: center;
	font-weight: bold;	
	text-transform: uppercase;	
	letter-spacing: .3em;
	}
#calendar th {
	text-align: center;
	font-weight: normal;
	color: #ffffff;
	}
#calendar td {
	text-align: center;
	}
.sidebar h2 {
	color: #ffff00;
	font-family: Verdana, Arial, sans-serif;
	font-size: small;
	text-align: center;
	font-weight: normal;	
	text-transform: uppercase;  	
	letter-spacing: .3em;
	border: dashed #cccccc;
	border-width: 1px 0px 1px 0px ;
	margin: 5px;
	}

.sidebar ul {
	padding-left: 0px;
	margin: 0px;
	margin-bottom: 30px;
	}

.sidebar li {
	color: #ffffff;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	text-align: left;
	line-height: 120%;
	/*margin-top: 10px;
	padding: 0px 5px 0px 5px;*/
	list-style-type: none;
	}

.sidebar img {
	border: 0px;
	}

.photo {
	text-align: left;
	margin-bottom: 20px;
	}

.link-note {
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	color: #ffffff;
	line-height: 120%;
	text-align: left;
	padding: 2px;
	margin-bottom: 15px;
	}

#powered {
	font-family:palatino, georgia, times new roman, serif;
	color:#666;
	font-size:x-small;
	line-height:140%;
	text-transform:uppercase;
	padding:2px;
	margin-top:50px;
	letter-spacing: .2em;
	background:#000000;
	}

#comment-data {
	float: left;
	width: 200px;
	padding-right: 15px;
	margin-right: 15px;
	text-align: left;
	border-right: 1px dotted #BBBbbb;
	}

textarea[id="comment-text"] {
	width: 80%;
	}
.fo {
	border: 1px solid #5977b3;
}
.cate {
	color: #00ffff;
	font-family: Verdana, Arial, sans-serif;
	text-align: right;
	font-size: x-small;
	padding-right: 3px;
	margin-bottom: 5px;
}
.tit {
	font-family: Verdana, Arial, sans-serif;
	text-align: right;
	font-size: small;
	font-weight: bold;
	color: #ffffff;
	padding-left: 3px;
	border-bottom: 1px dashed #cccccc;
}

.side {
	font-family:verdana, arial, sans-serif;
	color:#ffffff;
	font-size:x-small;
	font-weight:normal;
	background:#000000;
	line-height:140%;
	margin: 15px 5px 15px 5px;
}

.side-center {
	text-align: center;
	font-family:verdana, arial, sans-serif;
	color:#ffffff;
	font-size:x-small;
	font-weight:normal;
	background:#000000;
	line-height:140%;
	margin: 15px 5px 15px 5px;
}

 .blogbody {
  color:#ffffff;
  font-size:small;
  font-weight:normal;
  background:#000000;
  line-height:120%;
  padding-left: 2px;
   }

 .blogbody a,
 .blogbody a:link,
 .blogbody a:visited,
 .blogbody a:active,
 .blogbody a:hover {
  font-weight: normal;
  text-decoration: underline;
 }

 .title {
  font-size: large;
  color: #FFFFFF;
  background: #444444;
  padding-bottom: 1px;
  margin-bottom: 5px;
  }

 .title a.hide:link { color: yellow; text-decoration: none }
 .title a.hide:visited { color: yellow; text-decoration: none }
 .title a.hide:active { color: yellow; text-decoration: none }

 .title a.cat:link { color: #00ffff; text-decoration: none; font-weight: bold }
 .title a.cat:visited { color: #00ffff; text-decoration: none; font-weight: bold }
 .title a.cat:active { color: #00ffff; text-decoration: none; font-weight: bold }

 .title a.black:link { color: #00ff80; text-decoration: none; font-weight: bold }
 .title a.black:visited { color: #00ff80; text-decoration: none; font-weight: bold }
 .title a.black:active { color: #00ff80; text-decoration: none; font-weight: bold }

 .title a.sidecont:link { color: skyblue; text-decoration: none }
 .title a.sidecont:visited { color: skyblue; text-decoration: none }
 .title a.sidecont:active { color: skyblue; text-decoration: none }

 .title a.titlelink:link { color: #ffffff; text-decoration: none; font-weight: bold }
 .title a.titlelink:visited { color: #ffffff; text-decoration: none; font-weight: bold }
 .title a.titlelink:active { color: #ffffff; text-decoration: none; font-weight: bold }

 .date {
  font-size: x-large;
  color: #FFFF00;
  border-bottom:1px solid #999;
  margin-bottom:10px;
  font-weight:bold;
  }

 .posted {
  font-family:verdana, arial, sans-serif;
  font-size: x-small;
  text-align: left;
  color: #ffffff;
  margin-bottom:10px;
  }

 .calendar {
  font-family:verdana, arial, sans-serif;
  color:#ffffff;
  font-size:x-small;
  font-weight:normal;
  background:#000000;
  line-height:140%;
  padding:2px;
  text-align:left;
  }

 .calendarhead {
  font-family:palatino, georgia, times new roman, serif;
  color:#ffffff;
  font-size:small;
  font-weight:normal;
  padding:2px;
  letter-spacing: .3em;
  background:#000000;
  text-transform:uppercase;
  text-align:left;
  }

 .sidetitle {
  font-family:palatino, georgia, times new roman, serif;
  color:#ffff00;
  font-size:small;
  font-weight:normal;
  padding-left:2px;
  margin-top:30px;
  letter-spacing: .3em;
  background:#000000;
  text-transform:uppercase;
  }

 .syndicate {
  font-family:verdana, arial, sans-serif;
  font-size:xx-small;
  line-height:140%;
  padding:2px;
  margin-top:15px;
  background:#000000; 
   }

 .comments-body {
  font-family:palatino, georgia, verdana, arial, sans-serif;
  color:#ffffff;
  font-size:small;
  font-weight:normal;
  background:#000000;
  line-height:140%;
   padding-bottom:10px;
  padding-top:10px;
   border-bottom:1px dotted #666;
  }

 .comments-post {
  font-family:verdana, arial, sans-serif;
  color:#ffffff;
  font-size:x-small;
  font-weight:normal;
  background:#000000;
  }

 .trackback-url {
  font-family:palatino, georgia, verdana, arial, sans-serif;
  color:#aaaaaa;
  font-size:small;
  font-weight:normal;
  background:#000000;
  line-height:140%;
   padding:5px;
   border-top:1px dotted #999;
   border-bottom:1px dotted #999;
  }

 .trackback-body {
  font-family:palatino, georgia, verdana, arial, sans-serif;
  color:#aaaaaa;
  font-size:small;
  font-weight:normal;
  background:#000000;
  line-height:140%;
   padding-bottom:10px;
  padding-top:10px;
   border-bottom:1px dotted #999;
  }

 .trackback-post {
  font-family:verdana, arial, sans-serif;
  color:#aaaaaa;
  font-size:x-small;
  font-weight:normal;
  background:#000000;
  }

 .comments-head {
  font-family:palatino, georgia, verdana, arial, sans-serif;
  font-size:small;
  color: #ffffff;
  border-bottom:1px solid #999;
  margin-top:20px;
  font-weight:bold;
  background:#000000;
  }

 #banner-commentspop {
  font-family:palatino, georgia, verdana, arial, sans-serif;
  color:#FFF;
  font-size:large;
  font-weight:bold;
  border-top:1px solid #FFF; 
  background:#00000000;
  padding-left:15px;
  padding-right:15px;
  padding-top:5px;
  padding-bottom:5px;
  }

 .sidedate {
  font-family:palatino, georgia, verdana, arial, sans-serif;
  color: #0066ff;
  background: #000000;
 }


 blockquote {
  background: #0;
  font-style: italic;
  border-left: 1ex solid #99CC99;
  border-bottom: 3px solid #99CC99;
  padding: 4px 1px 1px 0px;
 }

 a.blocklink {
  display: block;
  width: 100%;
 }

 .mind {
  color:#404040;
 }

 .seiyu {
  color:#00ffff;
 }

 .writer {
  color:#00ff00;
 }

 .artist {
  color:#ffff00;
 }

 .strike {
  text-decoration: line-through;
 }

 .strong{
  font-weight: bold;
 }

 pre.cmd {
  font-family: 'ＭＳ ゴシック';
  font-size: small;
  border: 3px ridge #ffaa33;
  padding: 4px;
 }

 .awsp {
  font-size: x-small;
  color: #ffffff;
  text-align: left;
 }